body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.chip {
  display: inline-block;
  padding: 0 12px;
  height: 25px;
  font-size: 15px;
  line-height: 25px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.pointer {
  cursor: pointer;
}
